<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="text-center my-4">Type in your location:</h3>
      <form [formGroup]="location" (ngSubmit)="sendToAPIXU(location.value)" >
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="weatherLocation"
            aria-describedby="weatherLocation"
            placeholder="Type in your place for the forecast"
            formControlName="location"
          />
        </div>
        <div class="text-center">
          <p></p>
          <button type="submit" class="btn btn-warning btn-md">
            Get my forecast!
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6"><h3 class="text-center my-4">Here's your weather:</h3>

      <p class="text-center">
        Temperature in Degrees Celsius: {{this.weatherData?.current.temperature}}
      </p>
      <p class="text-center">
        Condition: {{this.weatherData?.current.weather_descriptions}}
      </p>
      <p class="text-center">
        Your query: {{this.weatherData?.location.name + ", " + this.weatherData?.location.country}}
      </p>
    </div>
  </div>
</div>
